[Unit]
Description=Save the current clock
Documentation=man:fake-hwclock(8)
DefaultDependencies=no
Before=final.target
After=shutdown.target

[Service]
EnvironmentFile=-/etc/default/fake-hwclock
ExecStart=/sbin/fake-hwclock save
Type=oneshot

[Install]
WantedBy=final.target
